<div id="headerHolder">
    <div id="progressBar"></div>
    <header id="header">
        <a href="{{ path('homepage') }}"><img id="logo" src="pic/logo.svg" alt="logo"></a>
        <a href="#" class="closeBtn" id="closeBtn">&times;</a>
        <a id="menuIcon"><img src="pic/images/menu_icon.svg" alt="menuIcon"></a>
        <nav id="menu">
            <ul>
                <li><a href="{{ path('homepage') }}">Studio</a></li>
                <li><a href="{{ path('sluzby') }}">Co a jak tvoříme</a></li>
                <li><a href="{{ path('projekty') }}">Naše tvorba</a></li>
                <li><a href="{{ path('blog') }}">Píšeme blog</a></li>
                <li><a href="{{ path('kontakt') }}">Kontakt</a></li>
            </ul>
        </nav>
    </header>
</div>