<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}
            Admin
        {% endblock %}</title>
    <link rel="stylesheet" href="/styles/style.css">
    {% block stylesheets %}
        <style>
            * {
                font-family: "Ubuntu", sans-serif;
            }

            h1 {
                font-size: 36px;
            }

            .bg-login {
                background-size: cover;
                background-repeat: no-repeat;
                height: 100vh;
                width: 95%;
                position: absolute;
                right: 0;
                z-index: -1;
            }

            @media screen and (min-width: 700px) {
                .bg-login {
                    width: 70%;
                }
            }

            .wrapper {
                height: 100vh;
                min-height: 450px;
            }

            .login-input input, .login-input input:focus {
                background-color: transparent;
                color: #000000;
            }

            .login-input input {
                border: 2px solid #D8D8D8;
                border-radius: 0;
                height: 40px;
            }

            .btn-login {
                background: #9B9B9B !important;
                color: #F3F3F3 !important;
            }

        </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap" rel="stylesheet">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>

{% block body %}
<body class="position-relative bg-white">
<div class="wrapper">
    <div class="bg-login h-100" style="background-image: url('/pic/admin_bg.svg');"></div>
    <div class="container d-flex align-items-center flex-column justify-content-center h-100">
        <div class="pb-5">
            <img class="w-100" src="/pic/logo.svg" alt="logo">
        </div>
        <div class="col-lg-4 col-md-offset-4 col-xs-offset-1 col-xs-10">
            <div class="row">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Jste přihlášen jako uživatel {{ app.user.username }}, <a href="{{ path('app_logout') }}">ODhlásit</a>
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <div class="col-xs-12  login-input">
                            <input placeholder="Uživatelské jméno"
                                   class="form-control" type="text" value="{{ last_username }}" name="email" id="inputEmail" required="required" autocomplete="username"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 login-input">
                            <input
                                    class="form-control" placeholder="Heslo" type="password" name="password" id="inputPassword"
                                    required="required"
                                    autocomplete="current-password"/>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="form-group text-center m-t-40">
                        <div class="col-xs-12">
                            <button class="btn btn-light border-white rounded-0 volno btn-lg btn-block text-uppercase waves-effect waves-light"
                                    type="submit">přihlásit
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<script src="/dist/index.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
