{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{# var article  #}

{% block body %}
    <body class="detail">
    {% include 'web/header/header.html.twig' %}
    <div id="main">
        <h1><a href="#">{{ article.title }}</a></h1>
        <p>{{ article.updatedAt|date("d.m.Y") }} | Autor: {{ article.author }}</p>
        <article>
            {{ article.content|raw }}
        </article>
    </div>
    <div class="buttons">
        <div class="button" id="share">
            <a href="http://www.facebook.com/sharer.php?u={{ path('article', {'url': article.url}) }}" target="_blank">
                <p>HODIT TO DO ÉTERU</p>
                <img src="pic/images/fb_Icon.svg" alt="fbIcon">
            </a>
        </div>
        <div class="button" id="back">
            <a href="{{ path('blog') }}">
                <p>MRKNOUT NA JINČÍ</p>
                <img src="pic/images/chevron_Icon.svg" alt="arrowIcon">
            </a>
        </div>
    </div>
    <div id="holder">
        <div id="articlePic" style="background-image: url({{ vich_uploader_asset(article, 'imageFile') }})">
            <img id="stripe" src="pic/images/whiteStripe.png" alt="stripe">
        </div>
    </div>
    </body>
{% endblock %}

