{% extends 'base.html.twig' %}

{% block body %}
    <body class="blog">
    {% include 'web/header/header.html.twig' %}

    {% for article in articles %}
        <div class="article">
            <a href="">
                <div class="articlePic" style="background-image: url({{ vich_uploader_asset(article, 'imageFile') }})"></div>
            </a>
            <article>
                <h1><a href="{{ path('article', {'url': article.url }) }}">{{ article.title }}</a></h1>
                <p>{{ article.updatedAt|date("d.m.Y") }}</p>
            </article>
        </div>
        <div class="separator"></div>
    {% endfor %}
    </body>
{% endblock %}

{% block title %}
    Blog
{% endblock %}

