{% extends 'base.html.twig' %}

{% block body %}
    <body class="kontakt">
    <div id="headerHolder">
        {% include 'web/header/header.html.twig' %}
    </div>
    <div id="main">
        <article>
            <h1>Rádi odpovíme</h1>
            <p>Zavolejte nebo napište. Rádi odpovíme na Vaše maily a telefonáty, které od Vás s potěšením dostaneme.</p>
        </article>
    </div>
    <div id="side">
        <article>
            <img src="{{ asset('pic/images/bubbles_icon.svg') }}" alt="bubbles">
            <p>+420 722 915 375</p>
            <p>studio@wwwebfix.cz</p>
        </article>
    </div>
    </body>
{% endblock %}

{% block title %}
Kontakt
{% endblock %}

