{% extends 'base.html.twig' %}

{% block body %}

<body class="services">
<div id="headerHolder">
    {% include 'web/header/header.html.twig' %}
</div>
<div id="services">
    <div class="item">
        <img src="pic/images/1_pc_icon.png" alt="pc">
        <h1>Webové stránky</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
        <a href="#">O webovkách wwwebfix ></a>
    </div>
    <div class="item">
        <img src="pic/images/2_knife_icon.png" alt="knife">
        <h1>Branding</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
        <a href="#">O brandingu wwwebfix ></a>
        <img src="" alt="">
    </div>
    <div class="item">
        <img src="pic/images/3_brush_icon.png" alt="brush">
        <h1>Firemní aplikace</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
        <a href="#">O aplikacích wwwebfix ></a>
    </div>
    <div class="item">
        <img src="pic/images/4_googles_icon.png" alt="googles">
        <h1>E-shopy</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
        <a href="#">O e-shopech wwwebfix ></a>
    </div>
    <div class="item">
        <img src="pic/images/5_tools_icon.png" alt="tools">
        <h1>Redakční systém</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
        <a href="#">O adminu wwwebfix ></a>
    </div>
    <div class="item">
        <img src="pic/images/6_cart_icon.png" alt="cart">
        <h1>Analytics</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
        <a href="#">O přehledech wwwebfix ></a>
    </div>
    <div class="item">
        <img src="pic/images/7_moustage_icon.png" alt="moustage">
        <h1>Online katalogy</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
        <a href="#">O katalogu wwwebfix ></a>
    </div>
    <div class="item">
        <img src="pic/images/8_toiletpaper_icon.png" alt="toiletpaper">
        <h1>Generování grafiky</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
        <a href="#">O generování wwwebfix ></a>
    </div>
    <div class="item">
        <img src="pic/images/9_pen_icon.png" alt="pen">
        <h1>Reklama</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
        <a href="#">O reklamě wwwebfix ></a>
    </div>
</div>
</body>

{% endblock %}

{% block title %}
    Co a jak tvoříme
{% endblock %}
